$font-jua:'Jua', sans-serif;
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; 
    align-items: center;
}
header {
    position:fixed; left:0; top:0; z-index:999;
    background:linear-gradient(0deg, rgba(255,255,255,0.5), transparent); 
    height:100px; width:100%; padding:0 15px;
    @include flex-row;
    h1 { width:150px;
        a {img{width:100%;}}
    }
    .right { @include flex-row;
        .app {
            font-family:$font-jua; margin-right:15px;
            border:2px solid #fff; border-radius:20px;
            padding:15px 25px; color:#fff;
        }
        .all_nav { 
            span {
                display:block; background:#fff;
                width:30px; height:5px;
                border-radius:15px;
            }
            span:nth-child(2) {margin:5px 0;}
        }
    }
}//e:header
main {
    .visual {overflow:hidden; height:100vh; position:relative;
        .contents {
            position:relative; text-align:center; 
            color:#fff; z-index: 200; padding-top:300px;
            h1, p, .app {line-height:1.5;}
            h1 {
                font-size:3rem; font-family: $font-jua;
            }
            p {margin-bottom:50px;}
            .app {
                background: #fff;  margin:0 auto; display:block; 
                width:350px; padding:10px;
                font-size:1.875rem; border-radius:50px;
                font-weight: 700;
            }
        }
        video {
            position:absolute;  top:0; 
            transform:translate(-50%,0); left:50%;
            z-index: 100; width:130%; 
        }
        .page_down { 
            position:absolute; width:100%; left:0; bottom:100px; 
            text-align: center;
            z-index: 200;
        }
    }
    .visual::after {
        content:''; display:block; width:100%; height:100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.5), transparent);
        position:absolute; left:0; top:0; z-index: 150;
    }
    .event_wrap { width:1200px; margin:0 auto;
        h1 {
            font-family: $font-jua; font-size:3rem; line-height: 1.5;
            margin-bottom:10px; margin-top:80px;
        }
        p {margin-bottom:20px;}
        .more {
            font-family: $font-jua;   
            display:flex; flex-flow:row nowrap;
            align-items: center;
        }
        .slide_wrap {margin-top:80px;
            .slide_container {margin-bottom:300px;
                display:grid; 
                grid-template-columns: repeat(3,1fr);
                .slide1 {
                background:#ffe552 
                url(../images/event_image_0_20221028085348_35465.png);}
                .slide2 {
                    background:#b2e9de 
                    url(../images/event_image_0_20221028085704_61822.png);
                        margin:0 10px 0;}
                .slide3 {
                    background:#ffcfd8 
                    url(../images/event_image_3_20221105015010_49282.png);}
                .slide {
                    border-radius: 30px; padding:25px;
                    background-repeat:no-repeat;
                    background-size: 60%;
                    background-position: right bottom;
                        h2 {
                            font-family: $font-jua; font-size:1.875rem;
                                line-height: 1.5;
                                }
                        p {}
                        a {
                            img {
                                margin-top:100px;
                            }
                        }
                        }
            }
        }
    }//e:event_wrap
    .child {width:1200px; margin:0 auto;
        h1 {
            font-size:3rem; font-family: $font-jua;
        }
        p {margin:20px 0;}
        .more {
            font-family: $font-jua;   
            display:flex; flex-flow:row nowrap;
            align-items: center; margin-bottom:100px;
        }
        .child_wrap {
            .child_container {margin-bottom:300px;
                display:grid; grid-template-columns:repeat(5,1fr);
                height:300px; 
                
                .child1 {
                    background:url(../images/thumbnail_image_1_20221104060651_67302.jpeg);
                    h2 {background: #ffcfd8;}
                }
                .child2 {
                    background:url(../images/thumbnail_image_2_20221104060915_64092.jpeg);
                    h2 {background: #b2e9de;}
                }
                .child3 {
                    background:url(../images/thumbnail_image_3_20221104060928_38608.jpeg);
                    h2 {background: #ffe552;}
                }
                .child4 {
                    background:url(../images/thumbnail_image_4_20221104060946_71750.jpeg);
                    h2 {background: #b2e9de;}
                }
                .child5 {
                    background:url(../images/thumbnail_image_5_20221104060955_15559.jpeg);
                    h2 {background: #ffcfd8;}
                }
                .children {
                    background-size:100%; background-repeat:no-repeat;
                    background-position:center; padding:30px;
                    border-radius:20px; margin-right:20px; 
                    position:relative;
                    h2 {
                        font-weight: 700; padding:10px 15px;
                        display:inline-block;
                        border-radius:20px;
                    }
                    a {}
                    a img {
                        position:absolute; left:50%; top:50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .children:last-child {margin:0;}
            }
        }
    }//e:child
}//e:main