header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent);
  height: 100px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  width: 150px;
}
header h1 a img {
  width: 100%;
}
header .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .right .app {
  font-family: "Jua", sans-serif;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 15px 25px;
  color: #fff;
}
header .right .all_nav span {
  display: block;
  background: #fff;
  width: 30px;
  height: 5px;
  border-radius: 15px;
}
header .right .all_nav span:nth-child(2) {
  margin: 5px 0;
}

main .visual {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
main .visual .contents {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 200;
  padding-top: 300px;
}
main .visual .contents h1, main .visual .contents p, main .visual .contents .app {
  line-height: 1.5;
}
main .visual .contents h1 {
  font-size: 3rem;
  font-family: "Jua", sans-serif;
}
main .visual .contents p {
  margin-bottom: 50px;
}
main .visual .contents .app {
  background: #fff;
  margin: 0 auto;
  display: block;
  width: 350px;
  padding: 10px;
  font-size: 1.875rem;
  border-radius: 50px;
  font-weight: 700;
}
main .visual video {
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 100;
  width: 130%;
}
main .visual .page_down {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
  text-align: center;
  z-index: 200;
}
main .visual::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 150;
}
main .event_wrap {
  width: 1200px;
  margin: 0 auto;
}
main .event_wrap h1 {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 80px;
}
main .event_wrap p {
  margin-bottom: 20px;
}
main .event_wrap .more {
  font-family: "Jua", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main .event_wrap .slide_wrap {
  margin-top: 80px;
}
main .event_wrap .slide_wrap .slide_container {
  margin-bottom: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .event_wrap .slide_wrap .slide_container .slide1 {
  background: #ffe552 url(../images/event_image_0_20221028085348_35465.png);
}
main .event_wrap .slide_wrap .slide_container .slide2 {
  background: #b2e9de url(../images/event_image_0_20221028085704_61822.png);
  margin: 0 10px 0;
}
main .event_wrap .slide_wrap .slide_container .slide3 {
  background: #ffcfd8 url(../images/event_image_3_20221105015010_49282.png);
}
main .event_wrap .slide_wrap .slide_container .slide {
  border-radius: 30px;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right bottom;
}
main .event_wrap .slide_wrap .slide_container .slide h2 {
  font-family: "Jua", sans-serif;
  font-size: 1.875rem;
  line-height: 1.5;
}
main .event_wrap .slide_wrap .slide_container .slide a img {
  margin-top: 100px;
}
main .child {
  width: 1200px;
  margin: 0 auto;
}
main .child h1 {
  font-size: 3rem;
  font-family: "Jua", sans-serif;
}
main .child p {
  margin: 20px 0;
}
main .child .more {
  font-family: "Jua", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 100px;
}
main .child .child_wrap .child_container {
  margin-bottom: 300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 300px;
}
main .child .child_wrap .child_container .child1 {
  background: url(../images/thumbnail_image_1_20221104060651_67302.jpeg);
}
main .child .child_wrap .child_container .child1 h2 {
  background: #ffcfd8;
}
main .child .child_wrap .child_container .child2 {
  background: url(../images/thumbnail_image_2_20221104060915_64092.jpeg);
}
main .child .child_wrap .child_container .child2 h2 {
  background: #b2e9de;
}
main .child .child_wrap .child_container .child3 {
  background: url(../images/thumbnail_image_3_20221104060928_38608.jpeg);
}
main .child .child_wrap .child_container .child3 h2 {
  background: #ffe552;
}
main .child .child_wrap .child_container .child4 {
  background: url(../images/thumbnail_image_4_20221104060946_71750.jpeg);
}
main .child .child_wrap .child_container .child4 h2 {
  background: #b2e9de;
}
main .child .child_wrap .child_container .child5 {
  background: url(../images/thumbnail_image_5_20221104060955_15559.jpeg);
}
main .child .child_wrap .child_container .child5 h2 {
  background: #ffcfd8;
}
main .child .child_wrap .child_container .children {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-radius: 20px;
  margin-right: 20px;
  position: relative;
}
main .child .child_wrap .child_container .children h2 {
  font-weight: 700;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 20px;
}
main .child .child_wrap .child_container .children a img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .child .child_wrap .child_container .children:last-child {
  margin: 0;
}/*# sourceMappingURL=main.css.map */